{{!-- productList.hbs --}}


    <a href="./create_product.html" class="btn btn-primary">Alta producto</a>


<br/>


{{#if products.length}}
   <div class="grid text-center">
            {{#each products}}
                    <div class="g-col-4">
                        <div class="card" style="width: 18rem">
                            <img src="{{this.photo_url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.description}}</p>
                                <a href="#" class="btn btn-primary">Comprar a $ {{this.price}}</a>
                            </div>
                        </div>
                    </div>
            
            {{/each}}

    </div>
{{else}}
   

      <div style="background-color:LightYellow;padding:20px;color:black">No se encontraron productos</div>
{{/if}}